<!DOCTYPE html>
<html>
  <head>
    <title>Jobbatical Clone!</title>
  	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  	<link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id='root'><%- content -%></div>
    <script src='/build/bundle.js'></script>
  </body>
</html>
