input {
	height: 70px;
	border-radius:0;
}

.formErrorMessage{
	color: #ff0000;
}

#adminChat{
	background-color: #7EC0EE;
	padding: 10px;
}

#messages{
	height: 600px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: #fff;
	color:#000;
	text-align:left;
	overflow-y:scroll;
	overflow-x: hidden;
}

#customers{
	height: 700px;
	width: 200px;
	text-align:left;
	overflow-y:scroll;
	overflow-x: hidden;
	color:#000;
	background-color: #fee;
}
